doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        style.
            .mySlides {
                display: none;
                position: relative;
                max-height: 100%;
            }
            #container {
                display: flex;
                justify-content: space-between;
                height: 100vh;
            }
            .btn-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
    body
        div(id="container")
            div(class="btn-container")
                button(class="w3-button w3-black" onclick="plusDivs(-1)")="❮"
            div(id="img-container" class="w3-container")
                |
                |
                each picture in picturesFiles
                    img(src=picture class="mySlides w3-image w3-display-middle")
                    |
                    |
            div(class="btn-container")
                button(class="w3-button w3-black" onclick="plusDivs(+1)")="❯"
        script(src="script.js")