doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        style.
            .mySlides {
                display: none;
            }
            @media (orientation: landscape) {
                .mySlides {
                    max-height: 100vh;
                }
            }
    body
        div(class="w3-container")
            |
            |
            each picture in picturesFiles
                img(src=picture class="mySlides w3-image w3-display-middle")
                |
                |
            button(class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)")="❮"
            button(class="w3-button w3-black w3-display-right" onclick="plusDivs(+1)")="❯"
        script(src="script.js")