* 
  font-family: arial

/** float container */
.float-container 
  border: solid 1px #ccc
  box-sizing: border-box
  margin-bottom: 8px
  padding: 0 8px
  position: relative

  input, textarea
    border: none
    font-size: 16px
    outline: 0
    padding: 16px 0 10px
    width: 100%  

  label 
    font-size: 16px
    position: absolute
    transform-origin: top left
    transform: translate(0, 16px) scale(1)
    transition: all 0.1s ease-in-out //speed

  /** active label */
  &.active 
    label 
      //move the x coordinate and reduce size
      transform: translate(0, 4px) scale(0.75)

#contact-form-text
  text-align: right
  padding: 0 1em 0 0
  @media (max-width: 992px)
    text-align: start
    padding: 0 0 0.5em 16px

@media (min-width: 993px)
  form button
    float: right

main
  height: auto
body
  overflow-y: auto

@media (max-width: 992px)
  form
    padding: 0.01em 16px

textarea#message
  resize: vertical

#overlay
  position: fixed
  display: none
  width: 100%
  height: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.5)
  z-index: 2
  cursor: pointer
  margin-left: inherit
