doctype html

html(lang="en")

    head
        meta(charset="utf-8")

        title= "The art of Morgan Bancon"
        meta(name="description" content="The art of Morgan Bancon")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./style.sass")

    body
        header
            h1(id="home-header")= "Morgan Bancon"
        img(src="./pictures/home-background.jpg" id="home-image")
        div(class="home-links-container")
            each link in homeLinks
                a(href="#" class="home-link")= link
        footer(class="home-links-container")
            each link in ['Bio', 'Contact']
                a(href="#" class="home-link")= link
