doctype html

html(lang="en")

    head
        meta(charset="utf-8")

        title= "The art of Morgan Bancon"
        meta(name="description" content="The art of Morgan Bancon")
        meta(name="author" content="Morgan Bancon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./style.sass")

    body
        h1(class="" id="home-header")= "Morgan Bancon"
        div(id="home-background")
            div(class="w3-display-container" id="home-container")
                div(class="w3-display-topmiddle" style="max-width: 100vw; z-index: 1;")
                    div(class="" id="home-links-container")
                        |
                        |
                        each link in homeLinks
                            a(href="#" class="home-link")= link
                            |
                            |
