*
  overflow: auto
body
  font-family: "Lato", sans-serif
  --transition-duration: 0.2s
nav
  display: flex
  flex-direction: row
  height: 100%
  width: 0
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background-color: #111
  padding-top: 10px
  transition: var(--transition-duration)
nav a
  padding: 8px 8px 8px 32px
  text-decoration: none
  font-size: 25px
  color: #818181
  display: block
  transition: 0.3s
nav a:hover
  color: #f1f1f1
nav .closebtn
  font-size: 36px
  padding: 0
  padding-right: 15px
main
  height: 100%
  transition: margin-left var(--transition-duration), margin-right var(--transition-duration)
#home-nav-links
  flex: 1
