@use 'nav'
@use 'swiper-bundle.css'
@use 'w3.css'

#swiper-container
    overflow: hidden
#mosaic 
    --thumbnail-width: 200px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(var(--thumbnail-width), max-content))
    justify-content: center
    column-gap: 10px
    row-gap: 10px
    width: 100%
    margin-top: 5px
    flex: 1
.thumbnail 
    --height: calc(var(--thumbnail-width) * 0.78)
    width: var(--thumbnail-width)
    height: var(--height)
    overflow: hidden
    img 
        width: 100%
        min-height: 100%
        object-fit: cover
.swiper-slide
    display: grid
    height: 100vh
    grid-template-rows: 1fr auto
.picture
    width: 100%
    height: 100%
    object-fit: contain
.picture-label
    text-align: center
#close-swiper
    z-index: 2
#close-thumbnail
    position: fixed
#burger-menu
    cursor: pointer
    font-size: xx-large
    margin: 10px 10px auto 10px
    line-height: 1
    width: 1em    
#menu-mosaic-container
    display: flex
    flex-direction: row-reverse
.swiper-wrapper
    overflow: visible
.burger-menu
    display: inline-block
    cursor: pointer
    margin: 10px 10px auto 0
.bar1, .bar2, .bar3
    width: 35px
    height: 5px
    background-color: #333
    margin: 6px 0
    transition: var(--transition-duration)
.change .bar1 
    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
    transform: rotate(-45deg) translate(-9px, 6px)
.change .bar2
    opacity: 0
.change .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-8px, -8px)
