@use 'w3.css'
@use 'swiper-bundle.css'

#miniaturesMosaic > *
    display: block

.swiper-container
    width: 100vw
    height: 100vh

.swiper-slide
    display: flex
    flex-direction: column

.picture
    object-fit: scale-down
    height: 0
    flex: 1

.picture-label
    text-align: center

#closeBtn
    z-index: 2