@use 'w3.css'
.home-link
    @extend .w3-bar-item
    @extend .w3-button
    @extend .w3-hover-none
    color: white
    @extend .w3-xlarge
    @extend .w3-mobile
@media (orientation: portrait)
    #home-image
        height: 100vh
        transform: translate(-50%)
    #home-container
        overflow-x: hidden
    #home-links-container
        z-index: 1
@media (orientation: landscape)
    #home-container
        height: 100vh
        overflow-y: hidden
    #home-image
        max-width: 100%
        height: auto
