@use 'w3.css'
@use 'nav'
@use 'burger-menu'
@use 'header'

*
  font-family: Verdana !important
body
  margin: 0
  height: 100vh
  overflow: hidden
#home-image
  width: 100%
  height: 100%
  object-fit: cover
  object-position: center top
h1, #left-side-nav-links a, #header-links a
  text-transform: uppercase
