@use 'w3.css'
.home-link
    @extend .w3-bar-item
    @extend .w3-button
    @extend .w3-hover-none
    color: white
    @extend .w3-xlarge
#home-links-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100vw
    :first-child
        color: black
@media (orientation: portrait)
    #home-links-container
        flex-direction: column
@media (orientation: landscape)
    #home-links-container
        flex-direction: row
#home-header
    text-align: center
    margin: auto
body, html
    height: 100%
#home-background 
    background-image: url("./pictures/home-background.jpg")
    height: 100%
    background-position: center top
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    background-origin: content-box
