body {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  height: 100vh;
  width: 100vw;
}
.picture-container {
  --width: 200px;
  --height: calc(var(--width) * 0.78);
  width: var(--width);
  height: var(--height);
}
img {
  flex-basis: 25%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 25%;
  max-height: 25%;
}
