doctype html

html(lang="en")

    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="./styles.css")

    body
        div(class="w3-display-container")
            each t in paintingFiles
                img(src=t class="w3-image w3-margin-left w3-margin-right")
