doctype html

html(lang="en")

    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="./styles.css")

    body
        each t in paintingFiles
            div(class="picture-container")
                img(src=t)
