body {
  margin: 0;
  line-height: 0;
}
.thumbnails-grid {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
  grid-template-columns: repeat(var(--nb-columns), 1fr);
  /* small */
  --nb-columns: 2;
}
@media screen and (min-width: 601px) {
  .thumbnails-grid {
    /* medium */
    --nb-columns: 4;
  }
}
@media screen and (min-width: 993px) {
  .thumbnails-grid {
    /* large */
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
  }
}
.thumbnail {
  padding-top: 78%;
  overflow: hidden;
  position: relative;
}
img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
