body {
  margin: 0;
  line-height: 0;
}
/* small */
.thumbnails-container {
  box-sizing: border-box;
  --nb-columns: 2;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
/* medium */
@media screen and (min-width: 601px) {
  .thumbnails-container {
    --nb-columns: 4;
  }
}
/* large */
@media screen and (min-width: 993px) {
  .thumbnails-container {
    --nb-columns: 8;
  }
}
.thumbnails-container {
  display: grid;
  grid-template-columns: repeat(var(--nb-columns), 1fr);
  column-gap: 5px;
  row-gap: 5px;
  flex: 1;
}
.thumbnail {
  padding-top: 78%;
  overflow: hidden;
  position: relative;
}
img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
